*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

header {
    display: flex;
    position: relative;
    overflow: hidden;
}


.header-conteudo {
    background-color: rgb(240, 225, 140);
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.header-conteudo h1{
    margin-bottom: 0.8vh;
    font-size: 3.5rem;
    color: rgb(34, 32, 32);
}

.header-conteudo h2 {
    font-size: 1.5rem;
    margin-bottom: 5vh;
    color: rgb(85, 81, 81);
}

.header-conteudo p {
    font-size: 1.3rem;
    width: 50%;
    color: rgb(85, 81, 81);
    margin-bottom: 5vh;
}

.redes {
    display: flex;
    position: relative;
    width: 50%;
}

.redes ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.redes-conteudo
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 10px;
    gap: 5%;

}

.redes li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: rgb(34, 32, 32);
    font-weight: bold;
}

.svg {
    width: 32px;
    margin-top: 20%;
}

header::after
{
    content:"";
    height: 1vh;
    width: 100%;
    position: absolute;
    border-bottom: dashed 0.8vh black;
    bottom: -4px;
}

.header-formas {
    content: "";
    width: 30%;
    height: 120%;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    right: -15%;
    top: -10%;
}

.header-formas::after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    background-color: rgb(240, 225, 140);
    border-radius: 50%;
    top: 10%;
    left: 10%;
}

.header-formas::before {
    content: "";
    width: 40%;
    height: 40%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 25%;
    top: 5%;
    left: 5%;
}
